    <% if logged_in?() %>
        <h2>Hello <%= current_user['name'] %></h2>
        <section class="top-btns">
        <% if is_manager?() %>
            <h3>团队编号(Team ID): <%= current_user['id'] %></h3>
            <form class="btn" action="/timesheets/delete" method="POST">
                <input type="hidden" name="_method" value="delete">
                <button>删除班表(Reset)</button>
            </form>
        
        <% end %>
        <form class="btn" action="/session" method="POST">
            <input type="hidden" name="_method" value="delete">
            <button>登出(Log Out)</button>
        </form>
        <% if !uploaded?(current_user['id']) %>
            <a href="/timesheets/new"><button>填写班表(Fill Availability)</button></a>
        <% else %>
            <a href="/timesheets/edit"><button>更改班表(Edit Availability)</button></a>
        <% end %>
    <% else %>
        <a href="/new"><button class="btn">注 册(Sign Up)</button></a>
        <a href="/session"><button class="btn">登 录(Login)</button></a>
    <% end %>
<% if logged_in? && uploaded?(session['user_id']) %>
    <table>
        <colgroup>
            <col>
            <col span="7" width="7%">
        </colgroup>
    

        <tr>
            <th>名字(Name)</th>
            <th>周一(Mon)<br><%= (Date.parse("monday"). + 7).strftime('%m-%d') %></th>
            <th>周二(Tue)<br><%= (Date.parse("monday") + 8).strftime('%m-%d') %></th>
            <th>周三(Wed)<br><%= (Date.parse("monday") + 9).strftime('%m-%d') %></th>
            <th>周四(Thu)<br><%= (Date.parse("monday") + 10).strftime('%m-%d') %></th>
            <th>周五(Fri)<br><%= (Date.parse("monday") + 11).strftime('%m-%d') %></th>
            <th>周六(Sat)<br><%= (Date.parse("monday") + 12).strftime('%m-%d') %></th>
            <th>周天(Sun)<br><%= (Date.parse("monday") + 13).strftime('%m-%d') %></th>
            <th>备注(Note)</th>
        </tr>
        <% if current_user['id'] == manager_id %>
            <% timesheets.each do |timesheet| %>
                <tr>
                    <td><%= get_user_by_id(timesheet['user_id'])['name'] %></td>
                    <td><%= is_available?(timesheet['mon']) %></td>
                    <td><%= is_available?(timesheet['tue']) %></td>
                    <td><%= is_available?(timesheet['wed']) %></td>
                    <td><%= is_available?(timesheet['thu']) %></td>
                    <td><%= is_available?(timesheet['fri']) %></td>
                    <td><%= is_available?(timesheet['sat']) %></td>
                    <td><%= is_available?(timesheet['sun']) %></td>
                    <td class="notes"><%= timesheet['notes'] %></td>
                </tr>
            <% end %>
        <% else %>
            <tr>
                    <td><%= current_user['name'] %></td>
                    <td><%= is_available?(own_timesheet['mon']) %></td>
                    <td><%= is_available?(own_timesheet['tue']) %></td>
                    <td><%= is_available?(own_timesheet['wed']) %></td>
                    <td><%= is_available?(own_timesheet['thu']) %></td>
                    <td><%= is_available?(own_timesheet['fri']) %></td>
                    <td><%= is_available?(own_timesheet['sat']) %></td>
                    <td><%= is_available?(own_timesheet['sun']) %></td>
                    <td class="notes"><%= own_timesheet['notes'] %></td>
                </tr>
        <% end %>
    </table>
<% end %>